aside {
    width: 8%;
    padding-left: 0.5em;
    float: left;
    background-color: black;
    height: 67.8em;
    div{
        padding: 8em 2em 0;
    }
    img{
      height: 4em;
      margin-top: 3em;
    }p{
        color: white;
        transform: rotate(270deg);
        margin: 4em -5em 0 -5em;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 40em;
    }
}